body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  background-color: #D02752;
  
}


.text {
 background-color:#F075AE;
 color: #111F35;
 padding: 1em;
 border-radius: 10px;
 border: 2px solid transparent;
 outline: none;
 width: 100%;
 height: 400px;
 resize: vertical;
}

.container {
   width: 60%;
  max-width: 800px;
  text-align: center;
  margin-top: 70px;
  
}

.container-fluid {
 
  color: #111F35;
  background-color: #8A244B;
}

.navbar {
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
  margin-top: 30px;
  border: 1px solid;
  padding: 10px;
  border-radius: 7px;
  background-color: #F63049;

}

.blogs {
  background-color:#F075AE;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.editor {
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 20px;
}

.bottom {
  padding-bottom: 100px;
}


a {
  color: #111F35;
}